{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Posts{% endblock %}</h1>
{% if g.user %}
<a class="action" href="{{ url_for('blog.create') }}">New</a>
{% endif %}
{% endblock %}

{% block content %}

<div class="row justify-content-center pt-2">
  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 p-4 text-center">
    {% if g.user %}
    <div class="alert alert-primary" role="alert">
      <p class="card-text">You are Connected</p>
      <p class="card-text"><span class="font-weight-bold">{{ g.user['username'] }}</span></p>
    </div>
    {% endif %}
  </div>
</div>

<div class="row justify-content-center pt-2 pb-4">
  <div class="col-12 col-sm-12 col-md-9 col-lg-9 col-xl-9">

    <div class="row">
      <div class="col">
        <table class="table table-hover table-striped table-bordered table-responsive-md table-sm">
          <thead>
            <tr>
              <th style="cursor: pointer;text-align:center;">Id</th>
              <th style="cursor: pointer;text-align:center;">Name</th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <th style="cursor: pointer;text-align:center;">Id</th>
              <th style="cursor: pointer;text-align:center;">Name</th>
            </tr>
          </tfoot>
          <tbody>
            {% for item in items %}
            <tr>
              <td style="cursor: pointer;">{{ item['id'] }}</td>
              <td>{{ item['username'] }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>

  </div>
</div>
{% endblock %}